* {
  box-sizing: border-box;
}
body{
  font-size: 15px;
  font-family: "Open Sans";
  background-color: #FDFDFD;
}
nav img {
  height: 3em;
}
nav .profile {
  border-radius: 10%;
}
nav .logo {
  float: right;
}
aside{
  display: none;
}
.container-fluid {
  margin-top: 5em;
}
.feed {
  margin-bottom: 200px;
}
article {
  display: flex;
  align-content: flex-end;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.message {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #c7c7c7;
  border-radius: 0.5em;
  padding: 1em;
  color: #84888D;
  padding-bottom: 0;
  line-height: 2em;
}
.message:before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: -15px;
  height: 30px;
  width: 15px;
  border-color: transparent #c7c7c7;
  border-style: solid;
  border-width: 15px 15px 15px 0px;
}
.message:after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: -14px;
  height: 30px;
  width: 15px;
  border-color: transparent #fff;
  border-style: solid;
  border-width: 15px 15px 15px 0px;
}

.byline {
  text-align: right;
  font-size: 0.8em;
}

figure {
  display: flex;
  align-items: flex-end;
  margin: 0;
}
figure a {
  display: block;
  margin-right: 1em;
  margin-left: auto;
}
figure img {
  background-color: #efefef;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.feed ul {
  list-style: none;
  padding:0;
  margin:0;
}

.feed li {
  padding-left: 1em;
  text-indent: -1em;
}

.feed li:before {
  content: "• ";
  font-size: 1.5em;
  position: relative;
  top: 0.15em;
  color: red; /* or whatever color you prefer */
}

article[data-squad=cas] li:before {
  color: orange;
}
article[data-squad=ccs] li:before {
  color: red;
}
article[data-squad=rs] li:before {
  color: brown;
}
article[data-squad=leadership] li:before {
  color: blue;
}
article[data-squad=cavalry] li:before {
  color: yellow;
}

a.tag {
  border-radius: 5px;
  padding: 0.1em 0.4em;
  font-size: 0.9em;
  height: 1em;
  color: #fff;
}
strong.topics, strong.mentions {
  border-radius: 0.3em;
}
a.tag.project, strong.topics, .mentionsinput__suggestions__item--focused .topic {
  background-color: #90B7FF;
}
a.tag.person, strong.mentions, .mentionsinput__suggestions__item--focused .user {
  background-color: #B5D26B;
}
a.tag.squad {
  background-color: #FF7474;
}

.snippet-input {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.5em 1em;
  height: 200px;
  background-color: #ECECEC;
  width: 100%;
}
textarea {
  border: 0;
  padding: 0.9em;
  min-height: 5em;
}
textarea:focus {
	outline: none;
}
.multiple-triggers {
  border-radius: 0.5em;
  border: 2px solid #ccc;
  min-height: 7em;
  background-color: #fff;
  padding: 0.1em;
}

.multiple-triggers > div > div:nth-child(2) {
  background-color: transparent !important;
}

.multiple-triggers ul {
  border: 2px solid #ccc;
  background-color: #fff;
  border-radius: 0.5em;
}
.multiple-triggers li {
  border: 0;
  display: block;
  font-size: 0.9em;
}
.mentionsinput__suggestions__item > div {
  padding: .3rem 1rem;
}
.mentionsinput__highlighter {
  padding: 0.9em;
}
.mentionsinput__suggestions {
  top: auto !important;
  bottom: 2.5em;
  left: -0.2em !important;
  margin-top: 0 !important;
}
.user_display {
  font-weight: bold;
}
.user_picture {
  width: 2rem;
  margin-right: 1em;
  border-radius: .3rem;
}
.user_divider {
  position: relative;
  margin-left: .3em;
  margin-right: .3em;
  border-radius: 50%;
  border: 1px solid #ccc;
  width: 1em;
  display: inline-block;
  height: 1em;
  top: .2em;
  left: 0px;
}
.user_name {
  font-size: 0.9em;
}
.login {
  margin-top: 10%;
  text-align: center;
}
