<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yippie! Snipperts</title>
    <link rel="stylesheet" href="../css/app.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'/>
  </head>
  <body>
    <aside>
      <h2>Filters</h2>
      <ul>
        <li><a href="/">Show all</a></li>
        <li><a href="/">Custom</a></li>
        <li><a href="/">Only the ones I'm participating in</a></li>
      </ul>
    </aside>
    <main role="main">
      <section class="feed">
        <h1>Today</h1>
        <article class="snippert">
          <a href="/people/maurice">
            <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg" />
          </a>
          <h2>Maurice <time>14.44</time></h2>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
        </article>
        <article class="snippert editable">
          <a href="/people/maurice">
            <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg" />
          </a>
          <h2>Maurice <time>14.44</time></h2>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
        </article>
        <article class="snippert">
          <a href="/people/maurice">
            <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg" />
          </a>
          <h2>Maurice <time>14.44</time></h2>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
        </article>
        <article class="snippert editable">
          <a href="/people/maurice">
            <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg" />
          </a>
          <h2>Maurice <time>14.44</time></h2>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
        </article>
        <article class="snippert">
          <a href="/people/maurice">
            <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg" />
          </a>
          <h2>Maurice <time>14.44</time></h2>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
        </article>
        <article class="snippert editable">
          <a href="/people/maurice">
            <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg" />
          </a>
          <h2>Maurice <time>14.44</time></h2>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
        </article>
        <article class="snippert">
          <a href="/people/maurice">
            <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg" />
          </a>
          <h2>Maurice <time>14.44</time></h2>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
        </article>
        <article class="snippert editable">
          <a href="/people/maurice">
            <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg" />
          </a>
          <h2>Maurice <time>14.44</time></h2>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
        </article>
        <article class="snippert">
          <a href="/people/maurice">
            <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg" />
          </a>
          <h2>Maurice <time>14.44</time></h2>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
        </article>
        <article class="snippert editable">
          <a href="/people/maurice">
            <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg" />
          </a>
          <h2>Maurice <time>14.44</time></h2>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
        </article>
        <article class="snippert">
          <a href="/people/maurice">
            <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg" />
          </a>
          <h2>Maurice <time>14.44</time></h2>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
        </article>
        <article class="snippert editable">
          <a href="/people/maurice">
            <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg" />
          </a>
          <h2>Maurice <time>14.44</time></h2>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
        </article>
        <article class="snippert">
          <a href="/people/maurice">
            <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg" />
          </a>
          <h2>Maurice <time>14.44</time></h2>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
        </article>
        <article class="snippert editable">
          <a href="/people/maurice">
            <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg" />
          </a>
          <h2>Maurice <time>14.44</time></h2>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
        </article>
        <article class="snippert">
          <a href="/people/maurice">
            <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg" />
          </a>
          <h2>Maurice <time>14.44</time></h2>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
        </article>
        <article class="snippert editable">
          <a href="/people/maurice">
            <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg" />
          </a>
          <h2>Maurice <time>14.44</time></h2>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
          <p>I worked on prototype design for <a href="/topics/snipperts" class="tag project">#snipperts</a> with <a href="/people/benjamin" class="tag person">@benjamin</a></p>
        </article>
      </section>
      <section class="form">
        <form>
          <textarea>I worked on</textarea>
        </form>
      </section>
    </main>
  </body>
</html>
