<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <title>Yippie! Snipperts</title>
    <link rel="stylesheet" href="app-b4.css" />
    <link href='https://fonts.googleapis.com/css?family=Open%20Sans:400,300,700' rel='stylesheet' type='text/css'/>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
      <img class="profile" src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg" />
      <img class="logo" src="https://yippie.nl/img/brand/logo-blue.svg" />
    </nav>
    <div class="container-fluid">
      <section class="row feed">
        <div class="col-md-9 col-md-offset-3 col-lg-6">
          <h1>Today</h1>
          <article class="row" data-squad="ccs">
            <figure class="col-xs-3 col-md-2">
              <a href="">
                <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg"/>
              </a>
            </figure>
            <div class="col-xs-9 col-md-10">
              <div class="message">
                <ul>
                  <li>had a meeting with <a href="@loek" class="tag person">@Loek</a> about the new <a href="#BurgerKingflyers" class="tag project">#BurgerKingflyers</a> and how we will deliver them</li>
                  <li>redesigned some workflows for the new we asdf asdf asdf asdf asdf bsite and resturctured the navigation items <a href="#website-v4" class="tag project">#website-v4</a></li>
                  <li>helped <a href="@pepijn" class="tag person">@Pepijn</a> with <a href="#nuon" class="tag project">#nuon</a> presentation</li>
                  <li>had a meeting with <a href="@loek" class="tag person">@Loek</a> about the new <a href="#BurgerKingflyers" class="tag project">#BurgerKingflyers</a> and how we will deliver them</li>
                  <li>redesigned some workflows for the new website and resturctured the navigation items <a href="#website-v4" class="tag project">#website-v4</a></li>
                  <li>helped <a href="@cas-squad" class="tag squad">@cas-squad</a> with <a href="#nuon" class="tag project">#nuon</a> presentation</li>
                </ul>
                <div class="byline"><a href="@jason" rel="author">Jason Teunissen</a> | <time>April 26, 07:16 AM</time></div>
              </div>
            </div>
          </article><!-- end snippet -->
          <article class="row" data-squad="cas">
            <figure class="col-xs-3 col-md-2">
              <a href="">
                <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg"/>
              </a>
            </figure>
            <div class="col-xs-9 col-md-10">
              <div class="message">
                <ul>
                  <li>had a meeting with <a href="@loek" class="tag person">@Loek</a> about the new <a href="#BurgerKingflyers" class="tag project">#BurgerKingflyers</a> and how we will deliver them</li>
                  <li>redesigned some workflows for the new website and resturctured the navigation items <a href="#website-v4" class="tag project">#website-v4</a></li>
                  <li>helped <a href="@pepijn" class="tag person">@Pepijn</a> with <a href="#nuon" class="tag project">#nuon</a> presentation</li>
                  <li>had a meeting with <a href="@loek" class="tag person">@Loek</a> about the new <a href="#BurgerKingflyers" class="tag project">#BurgerKingflyers</a> and how we will deliver them</li>
                  <li>redesigned some workflows for the new website and resturctured the navigation items <a href="#website-v4" class="tag project">#website-v4</a></li>
                  <li>helped <a href="@pepijn" class="tag person">@Pepijn</a> with <a href="#nuon" class="tag project">#nuon</a> presentation</li>
                </ul>
                <div class="byline"><a href="@jason" rel="author">Jason Teunissen</a> | <time>April 26, 07:16 AM</time></div>
              </div>
            </div>
          </article><!-- end snippet -->
          <article class="row" data-squad="cas">
            <figure class="col-xs-3 col-md-2">
              <a href="">
                <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg"/>
              </a>
            </figure>
            <div class="col-xs-9 col-md-10">
              <div class="message">
                <ul>
                  <li>had a meeting with <a href="@loek" class="tag person">@Loek</a> about the new <a href="#BurgerKingflyers" class="tag project">#BurgerKingflyers</a> and how we will deliver them</li>
                  <li>redesigned some workflows for the new website and resturctured the navigation items <a href="#website-v4" class="tag project">#website-v4</a></li>
                  <li>helped <a href="@pepijn" class="tag person">@Pepijn</a> with <a href="#nuon" class="tag project">#nuon</a> presentation</li>
                  <li>had a meeting with <a href="@loek" class="tag person">@Loek</a> about the new <a href="#BurgerKingflyers" class="tag project">#BurgerKingflyers</a> and how we will deliver them</li>
                  <li>redesigned some workflows for the new website and resturctured the navigation items <a href="#website-v4" class="tag project">#website-v4</a></li>
                  <li>helped <a href="@pepijn" class="tag person">@Pepijn</a> with <a href="#nuon" class="tag project">#nuon</a> presentation</li>
                </ul>
                <div class="byline"><a href="@jason" rel="author">Jason Teunissen</a> | <time>April 26, 07:16 AM</time></div>
              </div>
            </div>
          </article><!-- end snippet -->
          <article class="row" data-squad="cas">
            <figure class="col-xs-3 col-md-2">
              <a href="">
                <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg"/>
              </a>
            </figure>
            <div class="col-xs-9 col-md-10">
              <div class="message">
                <ul>
                  <li>helped <a href="@pepijn" class="tag person">@Pepijn</a> with <a href="#nuon" class="tag project">#nuon</a> presentation</li>
                </ul>
                <div class="byline"><a href="@jason" rel="author">Jason Teunissen</a> | <time>April 26, 07:16 AM</time></div>
              </div>
            </div>
          </article><!-- end snippet -->
          <article class="row" data-squad="cas">
            <figure class="col-xs-3 col-md-2">
              <a href="">
                <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg"/>
              </a>
            </figure>
            <div class="col-xs-9 col-md-10">
              <div class="message">
                <ul>
                  <li>had a meeting with <a href="@loek" class="tag person">@Loek</a> about the new <a href="#BurgerKingflyers" class="tag project">#BurgerKingflyers</a> and how we will deliver them</li>
                  <li>redesigned some workflows for the new website and resturctured the navigation items <a href="#website-v4" class="tag project">#website-v4</a></li>
                  <li>helped <a href="@pepijn" class="tag person">@Pepijn</a> with <a href="#nuon" class="tag project">#nuon</a> presentation</li>
                  <li>had a meeting with <a href="@loek" class="tag person">@Loek</a> about the new <a href="#BurgerKingflyers" class="tag project">#BurgerKingflyers</a> and how we will deliver them</li>
                  <li>redesigned some workflows for the new website and resturctured the navigation items <a href="#website-v4" class="tag project">#website-v4</a></li>
                  <li>helped <a href="@pepijn" class="tag person">@Pepijn</a> with <a href="#nuon" class="tag project">#nuon</a> presentation</li>
                </ul>
                <div class="byline"><a href="@jason" rel="author">Jason Teunissen</a> | <time>April 26, 07:16 AM</time></div>
              </div>
            </div>
          </article><!-- end snippet -->
          <article class="row" data-squad="cas">
            <figure class="col-xs-3 col-md-2">
              <a href="">
                <img src="https://lh3.googleusercontent.com/-MTFn1U2W0vU/AAAAAAAAAAI/AAAAAAAAYvE/aC_JBrSQqPo/s120-c/photo.jpg"/>
              </a>
            </figure>
            <div class="col-xs-9 col-md-10">
              <div class="message">
                <ul>
                  <li>had a meeting with <a href="@loek" class="tag person">@Loek</a> about the new <a href="#BurgerKingflyers" class="tag project">#BurgerKingflyers</a> and how we will deliver them</li>
                  <li>redesigned some workflows for the new website and resturctured the navigation items <a href="#website-v4" class="tag project">#website-v4</a></li>
                  <li>helped <a href="@pepijn" class="tag person">@Pepijn</a> with <a href="#nuon" class="tag project">#nuon</a> presentation</li>
                  <li>had a meeting with <a href="@loek" class="tag person">@Loek</a> about the new <a href="#BurgerKingflyers" class="tag project">#BurgerKingflyers</a> and how we will deliver them</li>
                  <li>redesigned some workflows for the new website and resturctured the navigation items <a href="#website-v4" class="tag project">#website-v4</a></li>
                  <li>helped <a href="@pepijn" class="tag person">@Pepijn</a> with <a href="#nuon" class="tag project">#nuon</a> presentation</li>
                </ul>
                <div class="byline"><a href="@jason" rel="author">Jason Teunissen</a> | <time>April 26, 07:16 AM</time></div>
              </div>
            </div>
          </article><!-- end snippet -->

        </div><!-- end col-->
      </section><!-- end row-->

      <div class="snippet-input">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <div class="row">
              <div class="col-lg-10 col-lg-offset-2">
                <form>
                  <textarea class="form-control">I worked on</textarea>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
